.component-layout{
    &-header{
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        display: flex;
        justify-content: space-between;
        padding: 40px;
        transition: 0.5s;
        z-index: 10;

        &__logo{

        }

        &__nav{
            display: flex;
            align-items: center;
            color: white;
            text-transform: uppercase;

            &-item{
                margin-left: 40px;
                cursor: pointer;
                transition: 0.3s;
                font-size: 18px;
                position: relative;

                &:after{
                    position: absolute;
                    content: "";
                    background-color: white;
                    height: 2px;
                    bottom: -10px;
                    left: 0px;
                    width: 0px;
                    transition: 0.3s;
                }

                &:hover::after{
                    width: 100%;
                }
            }

        }
    }
}