.component-skill{
    margin-top: 30px;

    &__title{
        font-size: 24px;
        margin-bottom: 12px;
        transition: 0.3s;
        font-weight: bolder;
        color: white;

        @media screen and (max-width: 640px) {
            font-size: 16px;
        }
    }

    &__chart{
        background-color: gray;
        height: 5px;
        flex: 1;
        transition: 0.3s;

        &-value{
            height: 100%;
            background-color: whitesmoke;
            position: relative;

            &-hover{
                height: 100%;
                background-color: blueviolet;
                width: 0%;
                transition: 0.3s;
            }
        }
    }

    &:hover &__chart-value-hover{
        width: 100%;
    }

    &:hover &__chart{
        background-color: whitesmoke;
    }

    &:hover &__title{
        color: blueviolet;
        margin-left: 10%;
    }
}