.component-work{
    height: 300px;
    display: flex;
    margin-bottom: 50px;

    @media screen and (max-width: 640px) {
        width: 100%;
    }

    &__thumbnail{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        flex: 1;
        transition: 0.3s;
        position: relative;
    }

    &__description{
        flex: 2;
        background: linear-gradient(90deg, #000000ff, #00000000);
        position: relative;
        overflow: hidden;

        &-container{
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 100%;
            background-color: blueviolet;
            transition: 0.3s;
        }

        &-title{
            position: absolute;
            left: -300px;
            top: 50px;
            color: white;
            font-size: 36px;
            transition: 0.3s;
            opacity: 0;
        }

        &-paragraph{
            position: absolute;
            left: -300px;
            top: 50%;
            color: white;
            font-size: 18px;
            transition: 0.3s;
            opacity: 0;
        }

        &-visit{
            position: absolute;
            left: -250px;
            bottom: 50px;
            color: white;
            font-size: 18px;
            transition: 0.3s;
            height: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            border: 2px solid white;
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
            cursor: pointer;
            opacity: 0;
            text-decoration: none;

            &:hover{
                box-shadow: 0px 0px 10px white;
            }
        }

        &-github{
            position: absolute;
            left: -150px;
            bottom: 50px;
            color: white;
            font-size: 18px;
            transition: 0.3s;
            height: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            border: 2px solid white;
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
            cursor: pointer;
            opacity: 0;
            text-decoration: none;
            
            &:hover{
                box-shadow: 0px 0px 10px white;
            }
        }
    }

    &:hover &__description-container{
        right: 0px;
    }

    &:hover &__description-title{
        left: 50px;
        opacity: 1;
    }

    &:hover &__description-paragraph{
        left: 50px;
        opacity: 1;
    }

    &:hover &__description-visit{
        left: 50px;
        opacity: 1;
    }

    &:hover &__description-github{
        left: 150px;
        opacity: 1;
    }

    &:hover &__thumbnail{
        background-position: right;
    }
}