body{
    margin: 0px;
    padding: 0px;
    font-family: Sansation;
    background-image: url('../../assets/images/1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section-title{
    font-size: 60px;
    text-align: center;
    margin: 0px;

    @media screen and (max-width: 640px) {
        font-size: 32px;
    }
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
  font-family: 'Sansation';
  font-style: normal;
  src: url('../../assets/fonts/Sansation_Regular.ttf');
  /* IE9 Compat Modes */
}